{% extends "layout.html" %}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calendar.css') }}">
{% endblock %}

{% block navbar_list %}

  {% if not signed_in == None %}
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
    </li>
    <li class="nav-item active ">
    <a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('school_site') }}">School Site</a>
    </li>
    <li class="nav-item loggedin">
      <a class="nav-link" href="#"> {{ navbar }} </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  {% else %}
    <li class="nav-item active pull-right float-right">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item pull-right float-right">
      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>
  {% endif %}

{% endblock %}


{% block body%}

  
<!------ Include the above in your HEAD tag ---------->

<!-- Container, Row, and Column used for illustration purposes -->
<div class="container">

      
            <!-- Fluid width widget -->        
          <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-calendar"></span> 
                        Your Calendar Events
                    </h3>
                </div>
                <div class="panel-body">

                    <ul class="media-list">
                      {% for task in allTasks.taskList %}
                        <li class="media">
                            <div class="media-left">
                                <div class="panel panel-primary text-center date">
                                    <div class="panel-heading month">
                                        <span class="panel-title strong hide-overflow">
                                            <!-- month -->
                                            {{ task.dueDate[0] }}
                                        </span>
                                    </div>
                                    <div class="panel-body day text-danger hide-overflow">
                                        {{ task.dueDate[1] }}
                                    </div>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                   <strong> {{task.taskName }}</strong>
                                   @
                                   <strong> {{task.timeDue }} </strong>
                                   in 
                                   <strong> {{ task.location }}</strong>
                                </h4>
                                
                                <p>
                                    {{task.description}}
                                </p>
                            </div>
                        </li>
                      {% endfor %}
                        
                    </ul>
                    <a href="#" class="btn btn-default btn-block">More Events »</a>
                </div>
            </div>
            <!-- End fluid width widget --> 
    
            
  
</div>
  

{% endblock %}