{% extends "layout.html" %}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
{% endblock %}

{% block navbar_list %}

  {% if not signed_in == None %}
    <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
    </li>
    <li class="nav-item ">
    <a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('school_site') }}">School Site</a>
    </li>
   <li class="nav-item loggedin">
      <a class="nav-link" href="#"> {{ navbar }} </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  {% else %}
    <li class="nav-item active pull-right float-right">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item pull-right float-right">
      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>
  {% endif %}

{% endblock %}

{% block body%}

<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Messages</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
			  
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://i.redd.it/6drhbjvpvvz41.jpg" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Selena Gomez is WitAI 
					  <span class="chat_date">
					  	
					  </span>
				  </h5>
					<!-- last message 	 -->
              <p> 
               
				  </p>
                </div>
              </div>
            </div>
            

          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
        
			  {% for message in messageHistory %}
			  	{% if message[5] == witName %}
			  		<div class="incoming_msg">
              			<div class="incoming_msg_img"> <img src="https://i.redd.it/6drhbjvpvvz41.jpg" alt="sunil">
						</div>
						<div class="received_msg">
							<div class="received_withd_msg">
							  <p> <a href="{{message[4] }}">{{ message[4] }}</a> </p>
							  <span class="time_date"> {{ message[1] }}    |    {{ message[2] }} </span>
							</div>
						</div>
            		</div>
			    {% else %}
			  		<div class="outgoing_msg">
					  <div class="sent_msg">
						<p> {{ message[4] }}</p>
						<span class="time_date"> {{ message[1] }}    |    {{ message[2] }} </span> 
					  </div>
            		</div>
			   {% endif %}
         
			{% endfor %}

          </div>
          <div class="type_msg">
            <div class="input_msg_write">
				<!-- Submit form to chat  -->
				<form action="{{ url_for('chat') }}" method="post">
					<!-- the label_def="label_value" is name="name" -->
					<textarea class="write_msg" name="user-message" placeholder="Type a message..."></textarea>
					<!-- <div class="pull-right">
						<button class="btn btn-primary" type="button"> Send </button>	  
					</div> -->
					<button>Send</button>
				</form>
              
              
            </div>
          </div>
        </div>
      </div>
      
      
      
    </div>
		
	</div>

{% endblock %}