{% extends "layout.html" %}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block navbar_list %}

  	{% if not signed_in == None %}
	  <li class="nav-item">
		<a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
	  </li>
	  <li class="nav-item ">
		<a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a>
	  </li>

	  <li class="nav-item loggedin">
	  	<a class="nav-link" href="#"> {{ navbar }} </a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
	  </li>
	{% else %}
	  <li class="nav-item pull-right float-right">
	    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
	  </li>
	  <li class="nav-item pull-right float-right">
	    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
	  </li>
	{% endif %}

{% endblock %}

{% block body%}
<h1 class="text-center" style="color:green;">{{welcome_message}}</h1>
		<div class="container">
			<h2 class="text-center"> 
				Add a Task to Calendar 
			</h2>
			<div class="main">
				<div class="main-center">
				
					<form action="{{ url_for('index') }}" method="post">
						

						<div class="form-group">
							<label for="task-name">Task Name</label>
								<div class="input-group">
									<input type="text" class="form-control" name="task-name" placeholder="Name of Task..."/>
							</div>
						</div>
						
						<div class="form-group">
							<label for="dueDate">Due Date</label>
								<div class="input-group">
							
									<input type="date" class="form-control" name="dueDate" placeholder=""/>
							</div>
						</div>

						<div class="form-group">
							<label for="timeDue">Time Due:</label>
								<div class="input-group">
  									<input type="time" class="form-control" name="timeDue">
  								</div>
  						</div>
						
						<div class="form-group">
							<label for="location">Location:</label>
								<div class="input-group">
  									<input type="text" class="form-control" name="location">
  								</div>
  						</div>

						<div class="form-group">
							<label for="quick-describe">Brief Description</label>
								<div class="input-group">
									<input type="text" class="form-control" name="quick-describe" placeholder="I need to do this...."/>
								</div>
						</div>


				<button type="submit">SUBMIT</button>
						
					</form>
				</div><!--main-center"-->
			</div><!--main-->
		</div><!--container-->
{% endblock %}