{% extends "layout.html" %}
{% block stylesheet %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='schoolSite.css') }}">
{% endblock %}

{% block navbar_list %}

  {% if not signed_in == None %}
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('chat') }}">Chat</a>
    </li>
    <li class="nav-item ">
    <a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a>
    </li>

    <li class="nav-item loggedin">
      <a class="nav-link" href="#"> {{ navbar }} </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    </li>
  {% else %}
    <li class="nav-item active pull-right float-right">
      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    </li>
    <li class="nav-item pull-right float-right">
      <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    </li>
  {% endif %}

{% endblock %}

{% block body%}
	School Site
{% endblock %}